/* common styles  */
body {
  font-family: "Azeret Mono", monospace;
}
.wrapper {
  margin-inline: 200px;
}

.primary-btn button {
  font-size: 20px;
  font-weight: 600;
  padding: 14px 21px;
  border-radius: 10px;
  cursor: pointer;
}
section {
  margin-block: 80px;
}
.section-title {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
}
.section-description {
  font-size: 16px;
  color: #0d1321;
  text-align: center;
  max-width: 900px;
  margin-inline: auto;
  line-height: 24px;
}

/* nav styles  */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 20px;
}
nav h2 {
  font-size: 28px;
  font-weight: bold;
}
/* banner styles  */
.banner {
  background-image: url("../assets/Hero-bg.png");
  padding-block: 32px;
}
.banner .banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-content h1,
.banner-content p {
  text-align: center;
}
.banner-content h1 {
  max-width: 1000px;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0px;
}
.banner-content p {
  max-width: 900px;
  margin-block: 30px;
  line-height: 28px;
}
.banner-content img {
  width: 240px;
  height: 240px;
}
.banner-content .primary-btn button {
  background: black;
  color: white;
  border: none;
}
/* why web dev  */
.why-web-dev-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
  padding-block: 50px;
}
.why-web-dev-content div:nth-child(2) {
  justify-content: flex-start;
  gap: 40px;
}
.why-web-dev-card h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.why-web-dev-card p {
  line-height: 26px;
  margin-block: 20px;
  max-width: 670px;
}
.why-web-dev-card .primary-btn button {
  border-radius: 0;
  padding: 12px 20px;
}
.video-container {
  border: 1px solid #0d132120;
  border-radius: 10px;
  padding: 30px;
  margin-top: 40px;
}
.video-container iframe {
  width: 100%;
  height: 550px;
  border-radius: 10px;
}
/* current target section  */
.current-target-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.current-target-content div {
  background: #ff4c1e10;
  padding: 40px;
}
.current-target-content div:nth-child(2) {
  background: #004ce810;
}
.current-target-content p {
  max-width: 280px;
}
.current-target-content a {
  color: black;
  font-weight: bold;
}

/* next target section  */
.next-target-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #0d132120;
  border-radius: 10px;
}
.next-target-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.next-target-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.next-target-content a {
  color: black;
  font-weight: bold;
}
